/* Crafted with love by wolfcreative.ru :3 */
@font-face{font-family:'PartnerUltraCondensed';src:url(../fonts/PartnerUltraCondensed.eot?#iefix) format("embedded-opentype"),url(../fonts/PartnerUltraCondensed.woff) format("woff"),url(../fonts/PartnerUltraCondensed.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'OpenSans Regular';src:url(../fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/OpenSans-Regular.woff) format("woff"),url(../fonts/OpenSans-Regular.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'OpenSans Bold';src:url(../fonts/OpenSans-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/OpenSans-Bold.woff) format("woff"),url(../fonts/OpenSans-Bold.ttf) format("truetype");font-weight:400;font-style:normal}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic');

/* Colors */
$softred:#e6373c;
$softblue:#0e4f6e;
$greyblue:#8ea9b6;
$grey:#f3f6f7;

body{
    max-width:1920px;margin:0 auto;font-family:'OpenSans Regular',sans-serif;font-size:16px;line-height:30px;color:#161616;
    @media (max-width:959px){font-size:14px;line-height:22px}
}
.uk-container{max-width:1170px}
a{font-family:'OpenSans Regular',sans-serif;-webkit-transition:.2s ease-in-out;transition:.2s ease-in-out}
a:hover,a:focus{-webkit-transition:.2s ease-in-out;transition:.2s ease-in-out}
b,strong{font-family:'OpenSans Bold';font-weight:400}
sup{font-size:11px}
p{
    font-size:16px;line-height:32px;
    @media (max-width:959px){
        font-size:14px;line-height:22px;
        br{display:none}
    }
}

header{border-top:4px solid #fafafa}
header .uk-container{max-width:1140px}
header>div{padding:10px 0;background:#fff;box-sizing:border-box}
header>div.uk-active{box-shadow:0 0 10px rgba(0,0,0,0.20)}
header nav>.uk-grid{height:84px}
header .uk-active .uk-grid{height:60px}
header .logo{max-width:270px}
header .uk-navbar-nav>li{margin:0 18px}
header .uk-navbar-nav>li>a{min-height:unset;height:auto;font:14px/24px 'PartnerUltraCondensed',sans-serif;color:#313113;padding:2px 0 0;text-transform:uppercase;letter-spacing:1.3px;border-bottom:2px solid transparent}
header .uk-navbar-nav>li.active>a,header .uk-navbar-nav>li:hover>a,header .uk-navbar-nav>li>a:focus{border-color:#ec2227}
header .uk-navbar-nav .uk-navbar-dropdown-nav{font-size:13px}
header .lang a:not(.uk-button){color:#156990;font:14px/23px 'OpenSans Bold',sans-serif;border:1px solid transparent;border-radius:2px;padding:6px 9px;margin-right:3px;display:inline-block;text-transform:uppercase}
header .lang a.active,header .lang a:not(.uk-button):hover,header .lang a:not(.uk-button):focus{border-color:#156990;text-decoration:none}
header .uk-dropdown{min-width:250px;padding:15px 20px}
header .uk-dropdown a{color:#777;line-height:20px}
header .uk-dropdown a:hover{color:#111}
@media (max-width:1199px){
header .logo{max-width:240px}
header .uk-navbar-nav>li{margin:0 9px}
}
@media (max-width:1000px){
header .logo{max-width:220px}
header .uk-navbar-nav>li{margin:0 7px}
}
@media (max-width:959px){
header .logo{max-width:none;width:auto}
header .uk-navbar-nav{justify-content:flex-end}
header .uk-navbar-nav>li{display:none}
}
@media (max-width:639px){
header nav>.uk-grid,header .uk-active .uk-grid{height:50px}
}
@media (max-height:528px){
header>div{padding:8px 0}
header nav>.uk-grid,header .uk-active .uk-grid{height:auto}
}

.main{background:#fff}

.titular{
    background:$grey;
    text-align:center;
    
    >.uk-container{
        padding-top:75px;padding-bottom:75px;
        @media (max-width:439px){
            padding-top:25px;padding-bottom:25px;
        }
    }

    h1,h2,h3{margin:0}
    h2{
        font-size:30px;letter-spacing:1px;margin-top:-5px;color:#6b6b6b;
        @media (max-width:959px){font-size:26px;margin-top:2px}
        @media (max-width:439px){font-size:18px;letter-spacing:0.7px}
    }
    h3{
        font-size:24px;letter-spacing:1px;
    }

    hr{
        margin-bottom:27px;
        @media (max-width:439px){margin:15px 0 23px}
    }
      
    .chiefdate{
        font-size:38px;line-height:34px;
        @media (max-width:439px){font-size:28px;line-height:26px}


        .date{
            font-size:30px;color:$softred;
            @media (max-width:439px){font-size:22px}
        }
        .city{color:$softblue}
        .year{color:$greyblue}
    }
}

.benefit{
    padding:110px 0;

    .uk-container{max-width:860px}

    .uk-list-line{
        margin-top:35px;
        li{
            position:relative;
            &:before{content:url(../img/awesome/list-arrow.png);position:absolute;left:-138px;top:3px}

            &:nth-child(n+2){margin-top:35px}
        }
    }
}

.chiefdate{
    font:28px/26px "PartnerUltraCondensed",sans-serif;text-transform:uppercase;
    @media (max-width:959px){font-size:26px;line-height:24px}
    // @media (max-width:439px){font-size:24px;line-height:22px}

    .date{
        font-size:23px;color:#fff;
        @media (max-width:439px){font-size:20px}
    }
    .city{color:#4db0df}
    .year{color:$greyblue}
    .address{color:$greyblue}
}

.questions{
    @media (min-width:1440px){
        h2{font-size:40px}
        .uk-bg-softblue{margin-left:-18px}
    }
    
    hr{
        margin:30px 0;
        &:after{width:120px}
    }
}

.reviews{
    background:$grey;padding:70px 0;
    @media (max-width:639px){padding:20px 0}

    .sliderbox{
        padding:10px 15px;
        @media (min-width:960px){max-width:1170px;padding:40px 25px 10px;box-sizing:content-box}
    }

    .uk-slidenav{
        color:rgba(0,0,0,.91);
        &:hover{color:rgba(102,102,102,.5)}
    }

    .uk-card{
        box-shadow:0px 7px 11px -3px rgba(0,0,0,0.08);

        .uk-card-header,.uk-card-body{
            @media (max-width:639px){padding:20px}
        }

        .uk-card-header{
            border:none;padding-top:25px;

            img{
                position:relative;z-index:3;
                @media (min-width:1280px){margin-bottom:-40px;margin-right:15px}
                @media (max-width:1279px){max-width:80px}
            }

            h3{
                margin:0;
                @media (min-width:1279px){font-size:36px;margin-top:10px}
            }

            .position,.company{
                font-family:'OpenSans Bold';
                @media (min-width:960px){line-height:24px}
            }
            .position{
                color:$softblue;
                @media (max-width:639px){font-size:13px;line-height:16px;margin:3px 0 4px}
            }
            .company{
                color:$softred;
                @media (max-width:639px){font:12px 'OpenSans Regular',sans-serif}
            }
        }
        .uk-card-body{
            background:#f7f7f7;position:relative;
            
            &.active{
                max-height:425px;overflow:hidden;cursor:pointer;

                &:after{content:'';width:100%;height:30px;position:absolute;bottom:0;left:0;right:0;z-index:2;background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,0.7) 40%,rgba(255,255,255,0.95) 100%)}
            }

            p{
                color:#111;
                @media (min-width:960px){font-size:15px;line-height:28px}
            }
        }
    }
}

.gallery{
    padding:80px 0 95px;
    @media(max-width:959px){padding:45px 0 65px}
    @media(max-width:639px){padding:25px 0 30px}

    img{width:100%}

    .uk-grid .uk-grid{
        @media(min-width:640px){
            margin-top:15px;margin-bottom:15px;
            img{padding:2px}
        }
    }
}

footer{
    background:#0c4455 url(../img/footer.jpg) no-repeat left center / cover;
    @media(max-width:639px){background-position-x:34%}

    .first{
        padding-top:70px;padding-bottom:70px;
        @media(max-width:639px){padding-top:20px;padding-bottom:25px}

        .title,.subtitle{font-family:"PartnerUltraCondensed",sans-serif;color:#fff;text-transform:uppercase}
        .title{
            font-size:90px;letter-spacing:4px;
            @media(max-width:1279px){font-size:61px}
            @media(min-width:640px) and (max-width:959px){font-size:43px}
            @media(max-width:639px){font-size:52px}
            @media(max-width:439px){font-size:43px;letter-spacing:2px}
        }
        .subtitle{
            font-size:30px;line-height:38px;letter-spacing:1px;
            @media(max-width:1279px){font-size:20px;line-height:28px}
            @media(min-width:640px) and (max-width:959px){font-size:18px;line-height:24px;letter-spacing:0.5px}
            @media(max-width:439px){font-size:15px;line-height:19px;letter-spacing:0.5px}
        }
        .stroke{
            font:24px "Open Sans Condensed",sans-serif;text-transform:uppercase;color:#fff;background:#c9473a;padding:5px 10px;margin-top:10px;letter-spacing:2px;text-align:center;
            @media(max-width:1279px){font-size:18px;padding:5px 7px}
            @media(max-width:639px){font-size:14px}
            @media(max-width:439px){font-size:12px;padding:4px 5px;letter-spacing:1.2px}
        }

        .chiefdate{
            @media(min-width:960px){margin-left:40px}
            @media(min-width:640px) and (max-width:959px){font-size:22px;line-height:20px}
        }
    }
    .second{
        border-top:1px solid rgba(255,255,255,0.15);font-size:14px;color:#fff;padding:21px 0;

        a{display:inline-block;font:14px/20px 'OpenSans Regular',sans-serif;margin:5px 0;padding-left:25px;color:#fff}
        a.phone{background:url(../img/awesome/phone-w.png) no-repeat left center}
        a.mail{background:url(../img/awesome/mail-w.png) no-repeat left 3px}

    }
}

/* Headers */
h1,h2,h3,h4,h5,.uk-h1,.uk-h2,.uk-h3{font-family:"PartnerUltraCondensed";line-height:normal;text-transform:uppercase;color:#161616}
h1,.uk-h1{
    font-size:90px;letter-spacing:5px;
    @media(max-width:1279px){font-size:80px;letter-spacing:4px}
    @media(max-width:959px){font-size:70px;letter-spacing:3px}
    @media(max-width:439px){font-size:48px}
}
h2{
    font-size:48px;letter-spacing:0.1px;
    @media(max-width:1439px){font-size:38px;letter-spacing:0}
    @media(max-width:959px){font-size:36px}
    @media(max-width:439px){font-size:30px}
}
h3{
    font-size:30px;letter-spacing:0.1px;
    @media(max-width:1279px){font-size:28px}
    @media(max-width:959px){font-size:23px}

    span.uk-text-danger{
        font-size:72px;color:$softred!important;margin-left:-5px;
        @media(max-width:1279px){font-size:68px}
        @media(max-width:959px){font-size:58px}
        @media(max-width:439px){font-size:48px}
    }
}

/* Buttons */
.uk-button{
    border:2px solid;font:24px/54px "PartnerUltraCondensed",sans-serif;padding:0 32px;letter-spacing:1.5px;
    @media (min-width:960px){min-width:314px}
    @media (max-width:959px){font-size:22px;padding:0 20px}
    @media (max-width:439px){width:100%}

    &.uk-button-ghostblue{
        border-color:$greyblue;color:$softblue;
        &:hover,&:focus{background:#e0e4e6}
    }
    &.uk-button-softred{
        border-color:$softred;color:#fff;background:$softred;box-shadow:0 9px 21px -7px rgba(230, 55, 60, 0.5);
        &:hover,&:focus{background:darken($softred, 10%);border-color:darken($softred, 3%);box-shadow:0 10px 22px -8px rgba(230, 55, 60, 0.55)}
    }
    &.uk-button-smallblue{
        min-width:unset;border-color:$softblue;color:#fff;background:$softblue;border-radius:100px;font:13px/29px 'OpenSans Bold',sans-serif;letter-spacing:0;padding:0 20px;
        &:hover,&:focus{background:darken($softblue, 10%);border-color:darken($softblue, 10%)}
    }
}

/* UiKit Replacer */
.uk-divider-small:after{width:82px;border-top:4px solid $softred!important}
.uk-light p{color:#fff}
.uk-lightbox{background:rgba(0,0,0,.8)}
.uk-input{
    border-color:#cfcfcf;padding-left:20px!important;
    &::placeholder{font:24px/52px "PartnerUltraCondensed",sans-serif;color:#111;text-transform:uppercase;letter-spacing:1.5px}
}

/* Custom */
.uk-padding-medium{
    padding:55px;
    @media(max-width:959px){padding:35px}
    @media(max-width:439px){padding:25px 18px}
}
.uk-text-semibold{font:600 18px/32px 'Open Sans',sans-serif}
.uk-width-custom{width:585px}
.uk-bg-softblue{background:#0d4b5e}
.uk-bg-darkblue{background:#0c4455}
.uk-bg-grey{background:$grey}
.uk-link-underline{
    border-bottom:1px solid #fff;line-height:18px;display:inline-block;
    &:hover,&:focus{border:none;text-decoration:none;opacity:0.7}
}
.uk-link-red{color:$softred;&:hover,&:focus{color:darken($softred,10%)}}